# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/langchain-nextjs-template/node_modules
/langchain-nextjs-template/.pnp
/langchain-nextjs-template/.pnp.js

# testing
/langchain-nextjs-template/coverage

# next.js
/langchain-nextjs-template/.next/
/langchain-nextjs-template/out/

# production
/langchain-nextjs-template/build

# misc
.DS_Store
*.pem

# debug
/langchain-nextjs-template/npm-debug.log*
/langchain-nextjs-template/yarn-debug.log*
/langchain-nextjs-template/yarn-error.log*

# local env files
/langchain-nextjs-template/.env*.local

# vercel
/langchain-nextjs-template/.vercel

# typescript
/langchain-nextjs-template/*.tsbuildinfo
/langchain-nextjs-template/next-env.d.ts

/langchain-nextjs-template/.yarn